# Set default behavior for all files
* text=auto

# Explicitly declare files that should have Unix line endings
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf

# Files that should not be normalized
*.png binary
*.jpg binary
